{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <title>{% block title %}Booth Reservation System{% endblock %}</title>
</head>

<body class="min-h-screen flex flex-col">
    {% include 'reservations/navigation.html' %}

    <section class="flex-grow px-10 my-4">
        {% block content %}{% endblock %}
    </section>

    {% include 'reservations/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>

</html>